.container {
  display: flex;
	width: 1000px;
	height: 700px;
	flex-direction:row;
	flex-wrap:wrap;
}
.area1 {
  -webkit-flex: initial;
          flex: initial;
  width: 1000px;
  min-width: 1000px;
	height: 350px;
	min-height: 100px;
}
.area2 {
  -webkit-flex: initial;
          flex: initial;
  width: 400px;
  min-width: 100px;
	height: 340px;
	min-height: 100px;
}
.area3 {
  -webkit-flex: initial;
          flex: initial;
  width: 400px;
  min-width: 100px;
	height: 340px;
	min-height: 100px;
}


.square {
	 border-style: solid;
}
.circle {
   width: 100px;
   height: 100px;
   background: black;
   border-radius: 50px;
}

.chair {
	  width: 50px;
		height: 50px;
}
